<template>
  <div class="wrapper" v-if="appointment && appointment.publicId">
    <div class="content">
      <h1>{{messages.appointmentTitle}}</h1>
      <v-container fluid grid-list-md class="info-text">
        <div class="confirmation-text">{{messages.appointmentText}}</div>
        <div>
          <strong>{{messages.commonBookingNumberText}}:</strong>
          {{appointment.externalId}}
        </div>
        <div v-for="(service, index) in appointment.peopleServices" :key="index">
          <strong>{{service.name}}:</strong>
          {{service.adult}} {{messages.chooseServiceContentAdults}}, {{service.child}} {{messages.chooseServiceContentChildren}}
        </div>
        <div>
          <strong>{{messages.commonLocationText}}:</strong>
          {{appointment.branchName}}
        </div>
        <div>
          <strong>{{messages.commonDateAndTimeText}}:</strong>
          {{appointment.date}} {{appointment.time}}
        </div>
        <div>
          <strong>{{messages.Email}}:</strong>
          {{appointment.customer.email}}
        </div>
        <div>
          <strong>{{messages.Phone}}:</strong>
          +{{appointment.customer.phone}}
        </div>
        <div>
          <strong>{{messages.totalCost}}:</strong>
          {{appointment.totalCost}} {{messages.chooseServiceContentCurrency}}
        </div>
      </v-container>
      <v-container fluid grid-list-md class="info-text dark">
        <h2>{{appointment.branch.name}}</h2>
        <div>
          <strong>{{messages.branchPhoneTitle}}:</strong>
          {{appointment.branch.phone}}
        </div>
        <div>
          <strong>{{messages.branchEmailTitle}}:</strong>
          {{appointment.branch.email}}
        </div>
        <div>
          <strong>{{messages.branchAddressTitle}}:</strong>
          {{appointment.branch.addressLine1}}, {{appointment.branch.addressZip}}, {{appointment.branch.addressCity}}
        </div>
        <div>
          <strong>{{messages.branchMailAddressTitle}}:</strong>
        </div>
      </v-container>
      <div v-if="$route.name === 'appointment'">
        <v-container fluid grid-list-md>
          <v-layout column align-center justify-center>
            <v-flex d-flex class="action-text">{{messages.appointmentActionsText}}</v-flex>
            <v-flex d-block class="action-button">
              <v-btn
                flat
                class="submit edit"
                v-on:click="rescheduleAppointment"
              >{{messages.rescheduleActionButtonText}}</v-btn>
            </v-flex>
            <v-flex d-block class="action-button">
              <v-btn
                flat
                class="submit cancel"
                v-on:click="cancelAppointment"
              >{{messages.cancelAppointmentActionButtonText}}</v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
      <router-view
        v-bind:configuration="configuration"
        v-bind:messages="messages"
        v-bind:appointment="appointment"
        v-on:deleted-appointment="appointmentDeleted"
        v-bind:selected-language="selectedLanguage"
      ></router-view>
    </div>
  </div>
  <div v-else>
    <div class="info-text">{{message}}</div>
    <v-btn class="submit back" flat v-on:click="backToStart">{{messages.backToStartPageButtonText}}</v-btn>
  </div>
</template>
<script>
import RestService from '../services/restService'

export default {
  name: 'Appointment',
  props: ['configuration', 'messages', 'selectedLanguage', 'captchaSiteKey'],
  mixins: [RestService],
  data: () => ({
    appointment: {},
    message: ''
  }),
  methods: {
    backToStart () {
      this.$router.push({
        name: 'booking'
      })
    },
    rescheduleAppointment () {
      var _this = this
      this.$router.push({
        name: 'reschedule',
        params: {
          configuration: _this.configuration,
          messages: _this.messages,
          appointment: _this.appointment,
          selectedLanguage: _this.selectedLanguage,
          captchaSiteKey: _this.captchaSiteKey
        }
      })
    },
    cancelAppointment () {
      this.$router.push({
        name: 'cancel'
      })
    },
    appointmentDeleted (deleted) {
      if (deleted) {
        this.appointment = false
        this.message = this.messages.cancelledAppointmentText
      }
    }
  },
  mounted () {
    var _this = this
    var appointmentId = this.$route.params.appointmentId
    this.getAppointment(appointmentId).then(function (response) {
      var appointment = response.data
      if (appointment) {
        var today = new Date()
        var appointmentTime = new Date(
          appointment.date + ' ' + appointment.time
        )
        // var date = today.toISOString().substring(0, 10);
        if (today > appointmentTime) {
          _this.appointment = false
          _this.message = _this.messages.appointmentNotFound
        } else {
          _this.appointment = appointment
          _this.$emit('change-language', appointment.languageCode)
        }
      } else {
        _this.appointment = false
        _this.message = _this.messages.appointmentNotFound
      }
    })
  }
}
</script>

<style>
.info-text.appointment-details.actions {
  border-top: 2px solid #646c7c;
}

.action-text {
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  margin: auto;
}

.action-button {
  width: 100%;
}

.submit.edit.v-btn.v-btn--flat.theme--light,
.submit.cancel.v-btn.v-btn--flat.theme--light {
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .submit.edit.v-btn.v-btn--flat.theme--light,
  .submit.cancel.v-btn.v-btn--flat.theme--light {
    min-width: 100%;
  }

  .action-text {
    font-size: 18px;
  }
}
</style>
