<template>
  <div class="booking">
    <h1>{{messages.applicationTitle}}</h1>
    <v-expansion-panel class="booking-wrapper">
      <v-expansion-panel-content class="process-step-header">
        <div slot="header">
          <div class="flex">
            <div class="process-number">1</div>
            <div class="process-step-name">{{messages.chooseServiceStep}}</div>
          </div>
          <div v-if="displaySelectedServiceInfo" class="chosen-options">
            <small v-for="(selectedService, index) in selectedServices" :key="index">
              <div>{{selectedService.name}}: {{selectedService.adult}} {{messages.chooseServiceContentAdults}}, {{selectedService.child}} {{messages.chooseServiceContentChildren}}</div>
            </small>
          </div>
        </div>
        <v-card>
          <v-card-text class="info-text">{{messages.chooseServiceContentText}}</v-card-text>
          <v-expansion-panel expand class="services-wrapper" v-model="panel">
            <v-expansion-panel-content
              class="service-expansion-panel"
              v-for="(service, index) in services"
              :key="index"
            >
              <div slot="header">
                <v-checkbox
                  class="service-name"
                  :label="service.name"
                  v-model="selectedServices"
                  v-bind:value="service"
                  v-on:click.capture="toggleContent($event, index, panel)"
                ></v-checkbox>
              </div>
              <v-card>
                <v-alert
                  :value="service.tooManyPeople"
                  type="error"
                >{{messages.errorMessageNumberOfPeopleExceeded}}</v-alert>
                <v-card-text class="flex">
                  <div class="choose-wrapper adult">
                    <small>{{messages.chooseServiceContentAdults}}</small>
                    <div class="amount-of">
                      <v-btn
                        class="input-btn"
                        flat
                        v-on:click="removeCustomer('adult', service.publicId)"
                      >
                        <v-icon>remove</v-icon>
                      </v-btn>
                      <div class="number">{{service.adult}}</div>
                      <v-btn
                        :disabled="service.tooManyPeople"
                        flat
                        class="input-btn"
                        v-on:click="addCustomer('adult', service.publicId)"
                      >
                        <v-icon>add</v-icon>
                      </v-btn>
                    </div>
                    <small>{{messages.chooseServiceContentPrice}}: {{service.custom.cost.adult.default}} {{messages.chooseServiceContentCurrency}}</small>
                  </div>
                  <v-spacer class="hidden-sm-and-up"></v-spacer>
                  <div class="choose-wrapper child">
                    <small>{{messages.chooseServiceContentChildren}} {{messages.chooseServiceChildrenAge}}</small>
                    <div class="amount-of">
                      <v-btn
                        flat
                        class="input-btn"
                        v-on:click="removeCustomer('child', service.publicId)"
                      >
                        <v-icon>remove</v-icon>
                      </v-btn>
                      <div class="number">{{service.child}}</div>
                      <v-btn
                        flat
                        :disabled="service.tooManyPeople"
                        class="input-btn"
                        v-on:click="addCustomer('child', service.publicId)"
                      >
                        <v-icon>add</v-icon>
                      </v-btn>
                    </div>
                    <small>{{messages.chooseServiceContentPrice}}: {{service.custom.cost.child.default}} {{messages.chooseServiceContentCurrency}}</small>
                  </div>
                  <small
                    class="service-total-cost"
                  >{{messages.totalCost}}: {{service.totalCost}} {{messages.chooseServiceContentCurrency}}</small>
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-card>
      </v-expansion-panel-content>
      <v-expansion-panel-content :disabled="selectRegionDisabled" class="process-step-header">
        <div slot="header">
          <div class="flex">
            <div class="process-number">2</div>
            <div class="process-step-name">{{messages.selectDistrictStep}}</div>
          </div>
          <div v-if="displaySelectedDistrictInfo" class="chosen-options">
            <small>
              <div>{{selectedBranch.name}}, {{selectedBranch.addressCity}}</div>
            </small>
          </div>
        </div>
        <v-card>
          <v-card-text class="info-text">{{messages.selectDistrictContentText}}</v-card-text>
          <v-alert :value="noPeopleError" type="error">{{messages.errorMessageNoPeopleEntered}}</v-alert>
          <v-expansion-panel class="services-wrapper">
            <v-expansion-panel-content
              class="service-expansion-panel"
              v-for="(region, index) in branchGroups"
              :key="index"
            >
              <div slot="header" v-if="region">{{region.fullName}}</div>
              <v-card>
                <v-card-text v-if="region" class="branch-list">
                  <v-radio-group
                    v-model="selectedBranch"
                    :mandatory="false"
                    v-for="(branch, index) in region.branches"
                    :key="index"
                  >
                    <v-radio class="service-name branch" :label="branch.name" v-bind:value="branch"></v-radio>
                  </v-radio-group>
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-card>
      </v-expansion-panel-content>
      <v-expansion-panel-content class="process-step-header" :disabled="selectDateDisabled">
        <div slot="header">
          <div class="flex">
            <div class="process-number">3</div>
            <div class="process-step-name">{{messages.selectDateTimeStep}}</div>
          </div>
          <div v-if="displaySelectedDateTime" class="chosen-options">
            <small>
              <div>{{selectedDate}} {{selectedTimeSlot}}</div>
            </small>
          </div>
        </div>
        <v-card>
          <v-card-text class="info-text">{{messages.selectDateTimeContentText}}</v-card-text>
          <time-selection
            v-if="loadCalendar"
            v-bind:selected-language="selectedLanguage"
            v-bind:custom-slot-length="customSlotLength"
            v-bind:selected-services="selectedServices"
            v-bind:selected-branch="selectedBranch"
            v-bind:messages="messages"
            v-bind:reschedule="false"
            v-on:time-selected="timeSelected"
          ></time-selection>
        </v-card>
      </v-expansion-panel-content>
      <v-expansion-panel-content class="process-step-header" :disabled="enterDetailsDisabled">
        <div slot="header">
          <div class="flex">
            <div class="process-number">4</div>
            <div class="process-step-name">{{messages.contactDetailsStep}}</div>
          </div>
        </div>
        <v-card>
          <v-card-text class="info-text">
            <strong>{{messages.contactDetailsContentChosenText}}</strong>
            <div>
              <div v-for="(service, index) in selectedServices" :key="index">
                <div
                  v-if="service"
                >{{service.name}}: {{service.adult}} {{messages.chooseServiceContentAdults}}, {{service.child}} {{messages.chooseServiceContentChildren}}</div>
              </div>
              <div v-if="selectedBranch">{{selectedBranch.name}}, {{selectedBranch.addressCity}}</div>
              <div>{{selectedDate}} {{selectedTimeSlot}}</div>
              <div>{{messages.totalCost}}: {{totalCost}} {{messages.chooseServiceContentCurrency}}</div>
            </div>
          </v-card-text>
          <v-form ref="form" v-model="valid">
            <div class="info-text">{{messages.contactDetailsContentMobileVerificationText}}</div>
            <div
              class="fields-wrapper"
              v-for="(field, index) in configuration.uiFields"
              :key="index"
            >
              <mobile-verification
                v-if="field.name === 'Phone' && loadMobileVerification"
                v-on:phone-verified="phoneVerified"
                v-bind:field="field"
                v-bind:default-country-prefix="defaultCountryPrefix"
                v-bind:messages="messages"
                v-bind:configuration="configuration"
                v-bind:read-only="readOnly"
                v-bind:show-autocomplete="true"
              ></mobile-verification>
              <v-text-field
                class="input-field"
                v-else
                :rules="rules[field.name]"
                :label="messages[field.name]"
                :required="field.m === 1 ? true: false"
                v-model="contactDetails[field.name]"
              ></v-text-field>
            </div>
            <appointment-list
              v-if="tooManyAppointmens && !appointmentIsCancelled || appointmentExists"
              v-bind:existing-appointments="existingAppointments"
              v-bind:messages="messages"
              v-bind:configuration="configuration"
              v-bind:type="alertType"
              v-on:appointment-deleted="appointmentDeleted"
            ></appointment-list>
            <v-alert
              value="true"
              type="success"
              v-if="appointmentIsCancelled"
            >{{messages.proceedMessageAfterDelete}}</v-alert>
            <v-checkbox
              class="info-text agreement"
              v-model="agreement"
              :label="messages.contactDetailsContentAgreementText"
              required
              :rules="rules.agreement"
            ></v-checkbox>
            <vue-recaptcha
              v-if="phoneIsVerified && !tooManyAppointmens"
              ref="recaptcha"
              v-on:verify="onCaptchaVerified"
              v-on:expired="onCaptchaExpired"
              size="invisible"
              :sitekey="configuration.captchaSiteKey"
            ></vue-recaptcha>
            <v-btn
              flat
              class="submit"
              v-on:click="onSubmit"
              :disabled="status==='submitting' || !valid || !phoneIsVerified || tooManyAppointmens"
            >
              <div v-if="status === ''">{{messages.createAppointmentButtonText}}</div>
              <v-progress-circular indeterminate color="#3a5994" v-else></v-progress-circular>
            </v-btn>
          </v-form>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </div>
</template>

<script>
import RestService from '../services/restService'
import DataService from '../services/dataService'
import TimeSelection from '../components/TimeSelection'
import MobileVerification from '../components/MobileVerification'
import AppointmentList from '../components/AppointmentList'
import VueRecaptcha from 'vue-recaptcha'
export default {
  name: 'Booking',
  props: [
    'configuration',
    'messages',
    'selectedLanguage',
    'defaultCountryPrefix'
  ],
  mixins: [RestService, DataService],
  components: {
    TimeSelection,
    MobileVerification,
    AppointmentList,
    VueRecaptcha
  },
  data: () => ({
    panel: [],
    regexEmail: '',
    selectDateDisabled: true,
    selectRegionDisabled: true,
    enterDetailsDisabled: true,
    displaySelectedServiceInfo: false,
    displaySelectedDistrictInfo: false,
    displaySelectedDateTime: false,
    loadCalendar: false,
    services: [],
    totalPeople: 0,
    noPeopleError: false,
    totalCost: 0,
    branchGroups: [],
    selectedServices: [],
    loadMobileVerification: false,
    searchCountry: null,
    selectedRegion: {},
    selectedBranch: {},
    customSlotLength: 0,
    selectedTimeSlot: '',
    selectedDate: '',
    valid: false,
    contactDetails: {
      formattedPhone: ''
    },
    rules: {
      Email: [],
      agreement: []
    },
    readOnly: false,
    phoneIsVerified: false,
    existingAppointments: [],
    tooManyAppointmens: false,
    appointmentExists: false,
    alertType: null,
    appointmentIsCancelled: false,
    deleteAppointmentDialog: false,
    agreement: false,
    status: '',
    reservedAppointmedId: null,
    recaptchaToken: ''
  }),
  watch: {
    selectedServices () {
      var _this = this
      this.selectedBranch = {}
      this.displaySelectedDistrictInfo = false
      this.selectDateDisabled = true
      this.loadCalendar = false
      this.selectedTimeSlot = ''
      this.selectedDate = ''
      this.enterDetailsDisabled = true
      this.loadMobileVerification = false
      if (this.selectedServices.length > 0) {
        this.selectRegionDisabled = false
        this.displaySelectedServiceInfo = true
        this.getBranchGroups(this.selectedServices).then(function (response) {
          _this.branchGroups = response.data.filter(region => region.branches.length > 0)
        })
      } else {
        this.selectRegionDisabled = true
      }
    },
    selectedBranch () {
      if (this.selectedBranch.id) {
        this.totalCost = 0
        this.selectedTimeSlot = ''
        this.selectedDate = ''
        this.customSlotLength = 0
        this.enterDetailsDisabled = true
        this.loadMobileVerification = false
        this.displaySelectedDateTime = false
        for (var i = 0; i < this.selectedServices.length; i++) {
          var service = this.selectedServices[i]
          if (service.customLength > 0) {
            this.customSlotLength += service.customLength
            this.totalCost += service.totalCost
          } else {
            this.noPeopleError = true
            this.customSlotLength = 0
          }
        }
        if (this.customSlotLength > 0) {
          this.selectDateDisabled = false
          this.displaySelectedDistrictInfo = true
          this.loadCalendar = true
        }
      }
    },
    selectedCountry (newCountryCode) {
      this.contactDetails.countryCode = newCountryCode.callingCodes[0]
    },
    totalPeople (newvalue, oldvalue) {
      this.selectedBranch = {}
      this.displaySelectedDistrictInfo = false
      this.selectDateDisabled = true
      this.loadCalendar = false
      this.selectedTimeSlot = ''
      this.selectedDate = ''
      this.enterDetailsDisabled = true
    }
  },
  methods: {
    toggleContent (v, i, panel) {
      panel[i] = true
      this.panel[i] = !this.panel[i]
    },
    addCustomer (value, serviceId) {
      var selectedServiceIndex = this.getByValue(
        this.selectedServices,
        serviceId
      )
      // TODO: Fetch maximum people allowed from backend
      if (this.selectedServices[selectedServiceIndex].totalPeople === 9) {
        this.selectedServices[selectedServiceIndex].tooManyPeople = true
      } else {
        this.noPeopleError = false
        this.selectedServices[selectedServiceIndex][value]++
        this.selectedServices[selectedServiceIndex].totalCost += this.selectedServices[selectedServiceIndex].custom.cost[value].default
        if (this.selectedServices[selectedServiceIndex].totalPeople === 0) {
          this.selectedServices[selectedServiceIndex].customLength = this.selectedServices[selectedServiceIndex].duration
        } else {
          this.selectedServices[selectedServiceIndex].customLength += this.selectedServices[selectedServiceIndex].additionalDuration
        }
        this.selectedServices[selectedServiceIndex].totalPeople++
      }
      this.totalPeople++
    },
    removeCustomer (value, serviceId) {
      var selectedServiceIndex = this.getByValue(
        this.selectedServices,
        serviceId
      )
      if (this.selectedServices[selectedServiceIndex][value] > 0) {
        this.selectedServices[selectedServiceIndex][value]--
        this.selectedServices[selectedServiceIndex].totalCost -= this.selectedServices[selectedServiceIndex].custom.cost[value].default
        if (this.selectedServices[selectedServiceIndex].totalPeople > 1) {
          this.selectedServices[selectedServiceIndex].customLength -= this.selectedServices[selectedServiceIndex].additionalDuration
        } else {
          this.selectedServices[selectedServiceIndex].customLength -= this.selectedServices[selectedServiceIndex].duration
        }
        this.selectedServices[selectedServiceIndex].totalPeople--
        this.selectedServices[selectedServiceIndex].tooManyPeople = false
        this.totalPeople--
      }
    },
    timeSelected (timeslot, date, appointmentId) {
      var _this = this
      this.selectedTimeSlot = timeslot
      this.selectedDate = date
      this.reservedAppointmedId = appointmentId
      this.enterDetailsDisabled = false
      this.displaySelectedDateTime = true
      this.regexEmail = new RegExp(this.configuration.regexEmail)
      this.rules.Email = [
        function (value) {
          if (value && value.length > 0) {
            return _this.regexEmail.test(value) || _this.messages.invalidEmail
          } else {
            return true
          }
        }
      ]
      this.rules.agreement = [
        value => !!value || this.messages.agreementRequired
      ]
      this.loadMobileVerification = true
    },
    phoneVerified (verified, formattedPhone, existingAppointments, readOnly) {
      if (verified) {
        this.phoneIsVerified = verified
        this.contactDetails.formattedPhone = formattedPhone
        this.readOnly = readOnly
        if (existingAppointments.length === 1) {
          this.existingAppointments = existingAppointments
          this.appointmentExists = true
          this.alertType = 'info'
        } else if (existingAppointments.length >= 2) {
          this.existingAppointments = existingAppointments
          this.tooManyAppointmens = true
          this.alertType = 'error'
        }
      }
    },
    appointmentDeleted (deleted) {
      if (deleted) {
        this.appointmentIsCancelled = deleted
        this.tooManyAppointmens = false
      }
    },
    onSubmit () {
      this.status = 'submitting'
      this.$refs.recaptcha.execute()
    },
    onCaptchaVerified (recaptchaToken) {
      var _this = this
      this.recaptchaToken = recaptchaToken
      this.confirmAppointment(
        this.selectedServices,
        this.reservedAppointmedId,
        this.contactDetails,
        this.selectedLanguage.lang,
        recaptchaToken,
        this.totalCost,
        this.customSlotLength
      ).then(function (response) {
        _this.$router.push({
          name: 'confirmation',
          params: {
            confirmation: response.data
          }
        })
      })
    },
    onCaptchaExpired () {
      this.$refs.recaptcha.reset()
    }
  },
  mounted () {
    var _this = this
    this.getServices().then(function (response) {
      for (var i = 0; i < response.data.length; i++) {
        var service = response.data[i]
        service.adult = 0
        service.child = 0
        service.totalPeople = 0
        service.customLength = 0
        service.tooManyPeople = false
        service.index = i
        var custom = JSON.parse(service.custom)
        custom.cost.adult.default = parseInt(custom.cost.adult.default)
        custom.cost.child.default = parseInt(custom.cost.child.default)
        service.custom = custom
        service.totalCost = 0
        _this.services.push(service)
      }
    })
  }
}
</script>

<style>
.booking h1 {
  padding-bottom: 24px;
  border-top: 2px solid #646c7c;
  border-left: 2px solid #646c7c;
  border-right: 2px solid #646c7c;
  background-color: #ffffff;
}

.booking-wrapper {
  box-shadow: none;
  border: 2px solid #646c7c;
  background-color: #ffffff;
}

.theme--light.v-expansion-panel
  .v-expansion-panel__container.process-step-header {
  background-color: #293346;
  color: #fefefe;
  border-top: 1px solid #646c7c;
}

.booking-wrapper .process-step-header .process-step-name {
  text-transform: uppercase;
  line-height: 40px;
  padding-left: 24px;
  font-size: 18px;
}

.process-step-header
  .v-expansion-panel__header
  .v-expansion-panel__header__icon
  .v-icon.material-icons.theme--light {
  color: white;
  font-size: 36px;
}

.booking-wrapper
  .v-expansion-panel__container.process-step-header.v-expansion-panel__container:focus {
  background-color: #1a708c;
}
.booking-wrapper
  .v-expansion-panel__container.process-step-header.v-expansion-panel__container:focus
  .process-step-name {
  text-decoration: underline;
}
.booking-wrapper
  .v-expansion-panel__container.process-step-header.v-expansion-panel__container--disabled {
  opacity: 0.4;
}

.booking-wrapper
  .v-expansion-panel__container.process-step-header.v-expansion-panel__container--active {
  background-color: #1a708c;
}

.choose-wrapper {
  padding: 0 24px 0 8px;
}

.chosen-options {
  position: absolute;
  right: 75px;
  bottom: 0;
}

.process-number {
  font-size: 20px;
  color: #3b3b3b;
  background-color: #ffda00;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
}

.service-total-cost {
  font-weight: 700;
  position: absolute;
  bottom: 16px;
  right: 24px;
}

.amount-of {
  width: 150px;
  display: flex;
}

.theme--light.v-expansion-panel
  .v-expansion-panel__container.service-expansion-panel {
  background-color: #f4f4f4;
  border-top: 1px solid #4b5363 !important;
  font-weight: 500;
}
.theme--light.v-expansion-panel
  .v-expansion-panel__container.service-expansion-panel:focus
  .v-expansion-panel__header
  .v-expansion-panel__header__icon
  .v-icon.material-icons.theme--light {
  font-size: 30px;
  color: #1a708c;
}

.theme--light.v-expansion-panel
  .v-expansion-panel__container.service-expansion-panel:focus
  .v-expansion-panel__header {
  font-weight: 700;
  color: #1a708c;
}

.service-expansion-panel
  .v-expansion-panel__header
  .v-expansion-panel__header__icon
  .v-icon.material-icons.theme--light {
  font-size: 24px;
  color: #293346;
}

.services-wrapper .service-expansion-panel .service-name,
.services-wrapper .service-expansion-panel .service-name .v-input__slot,
.services-wrapper .service-expansion-panel .v-input--selection-controls,
.services-wrapper
  .service-expansion-panel
  .v-input--selection-controls
  .v-input__slot {
  margin: 0;
  padding: 0;
}

.services-wrapper
  .service-expansion-panel
  .v-input--radio-group--column
  .v-radio.service-name {
  height: 50px;
  width: 300px;
  margin-left: 22px;
}

.services-wrapper .service-expansion-panel .service-name .v-label {
  color: #293346;
  font-weight: 500;
}

.services-wrapper
  .service-expansion-panel
  .service-name
  .v-input__control
  .v-messages,
.services-wrapper .service-expansion-panel .v-input__control .v-messages {
  display: none;
}

.services-wrapper
  .service-expansion-panel
  .service-name
  .v-icon.material-icons.theme--light.accent--text,
form .info-text .v-icon.material-icons.theme--light.accent--text {
  color: #1a708c !important;
}

.amount-of .v-btn {
  min-width: 50px;
  margin: 0;
  min-height: 50px;
  padding: 0;
}
.amount-of .v-btn:focus {
  background-color: #1a708c;
}

.amount-of .number {
  min-width: 50px;
  border-top: 2px solid #3a5994;
  border-bottom: 2px solid #3a5994;
  line-height: 46px;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
}

form {
  padding: 16px 0;
}

.v-input.country-code-autocomplete {
  width: 212px;
  position: absolute;
  left: 24px;
}

.v-input.country-code-autocomplete .v-input__control .v-input__slot {
  border: 2px solid #b2b6be;
  box-shadow: none;
}
.v-input.country-code-autocomplete.v-input--is-focused
  .v-input__control
  .v-input__slot {
  border: 2px solid #1a708c;
  box-shadow: none;
  font-weight: bold;
}

.v-input.input-field.v-text-field.phone-input {
  width: 330px;
  margin-left: 244px;
  padding-top: 0px !important;
  position: relative;
}

.flex {
  display: flex;
}

.total-cost {
  font-weight: 700;
}

form .input-field .v-input__slot:before {
  border-width: 1px;
  border-color: #b2b6be;
}

.v-input.input-field.v-text-field {
  margin: 0 0 0 24px;
  width: 550px;
}

.v-input.input-field.v-text-field .v-label {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  height: 22px;
  padding-left: 12px;
}

.v-input.input-field.v-text-field .v-label.v-label--active {
  top: -5px;
  padding-left: 0;
}

.input-field.v-text-field input {
  padding-left: 12px;
}

form .input-field .v-input__slot {
  border-top: 2px solid #b2b6be;
  border-right: 2px solid #b2b6be;
  border-left: 2px solid #b2b6be;
  height: 45px;
}

.fields-wrapper {
  position: relative;
}

.v-alert.v-alert {
  border: none;
  width: 100%;
  margin-bottom: 0;
}

.fields-wrapper .phone-verification-btn.v-btn {
  position: absolute;
  left: 574px;
  height: 45px;
  background-color: #3a5994;
  font-weight: 400;
  color: white;
  top: 0;
  margin-top: 0;
  margin-right: 24px;
}

.country-code-autocomplete .v-select__selections .v-input__append-inner {
  position: absolute;
  right: 0;
}

.v-input--selection-controls.v-input .v-label {
  font-weight: 700;
  color: #293346;
}

.v-icon.number-verified-icon.material-icons.theme--light {
  color: #33882b;
  position: absolute;
  left: 542px;
  top: 11px;
}

form .submit.v-btn.v-btn--flat.theme--light {
  margin: 10px 24px;
}

@media only screen and (max-width: 599px) {
  @media only screen and (max-width: 359px) and (min-width: 300px) {
    .process-number {
      line-height: 35px;
      height: 35px;
      width: 35px;
    }

    .v-card__text.flex {
      display: block;
    }

    .booking-wrapper .process-step-header .process-step-name {
      font-size: 16px;
      line-height: 35px;
      padding-left: 10px;
    }
  }
  .booking h1 {
    padding-bottom: 16px;
  }

  .v-expansion-panel__header {
    padding: 12px;
  }

  .choose-wrapper {
    padding: 0;
    padding-bottom: 20px;
  }

  .amount-of {
    width: auto;
  }

  .amount-of .number {
    min-width: 35px;
  }

  .service-total-cost {
    bottom: 0;
    right: 16px;
  }

  .chosen-options {
    position: static;
  }

  .info-text {
    padding: 16px;
  }

  .v-input.input-field.v-text-field {
    padding: 0 16px;
    width: 100%;
    margin: 16px 0 0 0;
  }

  .v-input.country-code-autocomplete {
    width: 100%;
    position: static;
    padding: 0 16px;
  }

  .v-input.input-field.v-text-field.phone-input {
    width: 100%;
    position: static;
    margin: 0;
  }

  .info-text.agreement {
    width: 100%;
    padding-top: 30px;
  }

  form {
    padding: 0 0 16px 0;
  }

  form .submit.v-btn.v-btn--flat.theme--light {
    display: block;
    width: auto;
    margin: 0 auto;
  }

  .v-icon.number-verified-icon.material-icons.theme--light {
    position: static;
    float: right;
    margin-right: 20px;
    margin-top: -54px;
  }

  .services-wrapper
    .service-expansion-panel
    .v-input--radio-group--column
    .v-radio.service-name {
    width: auto;
    margin-left: 16px;
  }

  .fields-wrapper .phone-verification-btn.v-btn {
    position: relative;
    display: block;
    margin-left: 16px;
    left: auto;
  }
}

@media screen and (min-width: 600px) and (max-width: 751px) {
  .fields-wrapper .phone-verification-btn.v-btn {
    position: relative;
    display: block;
    margin-left: 24px;
    left: auto;
  }

  .v-input.input-field.v-text-field {
    margin: 0 24px 0 24px;
    width: auto;
  }

  .v-input.input-field.v-text-field.phone-input {
    width: auto;
  }

  .v-icon.number-verified-icon.material-icons.theme--light {
    position: static;
    float: right;
    margin-right: 28px;
    margin-top: -54px;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .fields-wrapper .v-input .v-input__control {
    width: auto;
  }
}
</style>
