<template>
  <div class="content" v-if="confirmation">
    <div class="wrapper">
      <h1>{{messages.confirmationTitle}}</h1>
      <div class="info-text appointment-details">
        <div class="confirmation-text">{{messages.confirmationText}}</div>
        <div>
          <strong>{{messages.commonBookingNumberText}}:</strong>
          {{confirmation.externalId}}
        </div>
        <div v-for="(service, index) in confirmation.peopleServices" :key="index">
          <strong>{{service.name}}:</strong>
          {{service.adult}} {{messages.chooseServiceContentAdults}}, {{service.child}} {{messages.chooseServiceContentChildren}}
        </div>
        <div>
          <strong>{{messages.commonLocationText}}:</strong>
          {{confirmation.branch.name}}
        </div>
        <div>
          <strong>{{messages.commonDateAndTimeText}}:</strong>
          {{confirmation.date}} {{confirmation.time}}
        </div>
        <div>
          <strong>{{messages.Email}}:</strong>
          {{confirmation.customer.email}}
        </div>
        <div>
          <strong>{{messages.Phone}}:</strong>
          +{{confirmation.customer.phone}}
        </div>
        <div>
          <strong>{{messages.totalCost}}:</strong>
          {{confirmation.totalCost}} {{messages.chooseServiceContentCurrency}}
        </div>
      </div>
      <div class="info-text appointment-details dark">
        <h2>{{confirmation.branch.name}}</h2>
        <div>
          <strong>{{messages.branchPhoneTitle}}:</strong>
          {{confirmation.branch.phone}}
        </div>
        <div>
          <strong>{{messages.branchEmailTitle}}:</strong>
          {{confirmation.branch.email}}
        </div>
        <div>
          <strong>{{messages.branchAddressTitle}}:</strong>
          {{confirmation.branch.addressLine1}}, {{confirmation.branch.addressZip}}, {{confirmation.branch.addressCity}}
        </div>
        <div>
          <strong>{{messages.branchMailAddressTitle}}:</strong>
        </div>
      </div>
    </div>
    <v-btn class="submit back" flat v-on:click="backToStart">{{messages.backToStartPageButtonText}}</v-btn>
  </div>
</template>

<script>
export default {
  name: 'Confirmation',
  props: ['confirmation', 'configuration', 'messages', 'selectedLanguage'],
  methods: {
    backToStart () {
      this.$router.push({
        name: 'booking'
      })
    }
  },
  mounted () {
    if (!this.confirmation) {
      this.$router.push({
        name: 'booking'
      })
    }
  }
}
</script>

<style>
</style>
