<template>
  <div class="wrapper" v-if="appointment">
    <div class="reschedule content">
      <h1>{{messages.rescheduleButtonText}}</h1>
      <div class="info-text">{{messages.selectDateTimeContentText}}</div>
      <time-selection
        v-bind:selected-language="selectedLanguage"
        v-bind:custom-slot-length="appointment.customSlotLength"
        v-bind:selected-services="appointment.peopleServices"
        v-bind:selected-branch="appointment.branch"
        v-bind:messages="messages"
        v-bind:reschedule="true"
        v-on:time-selected="newTimeSelected"
      ></time-selection>
      <div v-if="mobileVerificationEnabled">
        <div class="updated-info">
          <strong>{{messages.commonDateAndTimeText}}: {{selectedDate}} {{selectedTime}}</strong>
        </div>
        <div class="other-info">
          <div>{{messages.commonBookingNumberText}}: {{appointment.externalId}}</div>
          <div
            v-for="(service, index) in appointment.peopleServices"
            :key="index"
          >{{service.name}}: {{service.adult}} {{messages.chooseServiceContentAdults}}, {{service.child}} {{messages.chooseServiceContentChildren}}</div>
          <div>{{messages.commonLocationText}}: {{appointment.branchName}}</div>
          <div>{{messages.Email}}: {{appointment.customer.email}}</div>
          <div>{{messages.Phone}}: +{{appointment.customer.phone}}</div>
          <div>{{messages.totalCost}}: {{appointment.totalCost}} {{messages.chooseServiceContentCurrency}}</div>
        </div>
        <div class="fields-wrapper">
          <mobile-verification
            v-on:phone-verified="reschedulePhoneVerified"
            v-bind:field="field"
            v-bind:selected-language="selectedLanguage"
            v-bind:messages="messages"
            v-bind:configuration="configuration"
            v-bind:read-only="true"
            v-bind:show-autocomplete="false"
          ></mobile-verification>
          <vue-recaptcha
            v-if="phoneIsVerified"
            ref="recaptcha"
            v-on:verify="onCaptchaVerified"
            v-on:expired="onCaptchaExpired"
            size="invisible"
            :sitekey="configuration.captchaSiteKey"
          ></vue-recaptcha>
          <v-btn
            flat
            class="submit"
            v-on:click="onReschedule"
            :disabled="status==='submitting' || !phoneIsVerified"
          >
            <div v-if="status === ''">{{messages.rescheduleButtonText}}</div>
            <v-progress-circular indeterminate color="#3a5994" v-else></v-progress-circular>
          </v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RestService from '../services/restService'
import TimeSelection from '../components/TimeSelection'
import MobileVerification from '../components/MobileVerification'
import VueRecaptcha from 'vue-recaptcha'
export default {
  name: 'RescheduleAppointment',
  props: ['configuration', 'messages', 'appointment', 'selectedLanguage'],
  mixins: [RestService],
  components: {
    TimeSelection,
    MobileVerification,
    VueRecaptcha
  },
  data: () => ({
    customSlotLength: 0,
    mobileVerificationEnabled: false,
    phoneIsVerified: false,
    status: '',
    selectedTime: '',
    selectedDate: '',
    field: {
      name: 'Phone',
      number: ''
    }
  }),
  methods: {
    newTimeSelected (time, date) {
      this.selectedTime = time
      this.selectedDate = date
      this.mobileVerificationEnabled = true
    },
    reschedulePhoneVerified (verified) {
      if (verified) {
        this.phoneIsVerified = true
      }
    },
    onReschedule () {
      this.status = 'submitting'
      this.$refs.recaptcha.execute()
    },
    onCaptchaVerified (token) {
      var _this = this
      this.rescheduleAppointment(
        this.appointment,
        token,
        this.selectedTime,
        this.selectedDate
      ).then(function (response) {
        _this.$router.push({
          name: 'confirmation',
          params: {
            confirmation: response.data
          }
        })
      })
    },
    onCaptchaExpired () {
      this.$refs.recaptcha.reset()
    }
  },
  mounted () {
    var _this = this
    if (!this.appointment) {
      _this.$router.push({
        name: 'appointment',
        params: {
          appointmentId: _this.$route.params.appointmentId
        }
      })
    } else {
      this.field.number = this.appointment.customer.phone
    }
  }
}
</script>

<style>
.reschedule .v-input.input-field.v-text-field.phone-input {
  width: 330px;
  margin-left: 0;
  padding-top: 0px !important;
  position: relative;
}

.reschedule .input-field .v-input__slot:before {
  border-width: 1px;
  border-color: #b2b6be;
}

.reschedule .v-input.input-field.v-text-field {
  padding: 16px 24px 0 24px;
  width: 550px;
}

.reschedule .v-input.input-field.v-text-field .v-label {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  height: 22px;
  padding-left: 12px;
}

.reschedule .input-field.v-text-field {
  padding-left: 12px;
}

.reschedule .input-field .v-input__slot {
  border-top: 2px solid #b2b6be;
  border-right: 2px solid #b2b6be;
  border-left: 2px solid #b2b6be;
  height: 45px;
}

.reschedule .fields-wrapper {
  position: relative;
}

.reschedule .fields-wrapper .phone-verification-btn.v-btn {
  position: absolute;
  left: 305px;
  height: 45px;
  background-color: #3a5994;
  font-weight: 400;
  color: white;
  top: 0;
  margin-top: 0;
}

.reschedule .v-icon.number-verified-icon.material-icons.theme--light {
  color: #33882b;
  position: absolute;
  left: 275px;
  top: 11px;
}

.reschedule .v-input--selection-controls.v-input .v-label {
  font-weight: 700;
  color: #293346;
}

.reschedule .submit.v-btn.v-btn--disabled.v-btn--flat.theme--light {
  background-color: rgba(0, 0, 0, 0.12);
}

.reschedule .submit.v-btn.v-btn--flat.theme--light {
  margin: 24px;
}

.reschedule .updated-info {
  border-top: 2px solid #b2b6be;
  font-weight: 500;
  font-size: 18px;
  padding: 24px 24px 0 24px;
}

.reschedule .other-info {
  padding: 0 24px 24px 24px;
}

@media (max-width: 600px) {
  .reschedule .v-input.input-field.v-text-field.phone-input {
    width: 100%;
  }

  .reschedule .v-input.input-field.v-text-field {
    padding: 16px 16px 0 16px;
  }

  .reschedule .updated-info {
    border-top: 2px solid #b2b6be;
    font-weight: 500;
    padding: 16px 16px 0 16px;
  }

  .reschedule .other-info {
    padding: 0 16px 16px 16px;
  }

  .reschedule .fields-wrapper .phone-verification-btn.v-btn {
    position: static;
    left: auto;
    margin-left: 16px;
  }

  .reschedule .submit.v-btn.v-btn--flat.theme--light {
    display: block;
    margin: 16px auto;
  }

  .reschedule .v-icon.number-verified-icon.material-icons.theme--light {
    left: auto;
    right: 24px;
    top: 11px;
  }
}
</style>
