<template>
  <div>
    <v-alert
      value="true"
      :type="type"
    >{{ type=== 'error' ?messages.errorMessageActiveAppointments : messages.infoMessageActiveAppointment}}</v-alert>
    <v-data-iterator
      content-tag="v-layout"
      class="appointment-cards"
      item-key="publicId"
      row
      wrap
      :items="existingAppointments"
      hide-actions
    >
      <v-card class="appointment-card" slot="item" slot-scope="props">
        <v-card-title class="subheading">
          <a v-bind:href="'/qwebbook/index.html#/' + props.item.externalId" target="_blank">
            {{ props.item.externalId }}
            <v-icon>launch</v-icon>
          </a>
          <v-dialog v-model="deleteAppointmentDialog" max-width="450">
            <v-card>
              <v-card-title class="headline dialog-title">
                <v-spacer></v-spacer>
                <v-btn icon v-on:click.native="deleteAppointmentDialog = false">
                  <v-icon color="white">close</v-icon>
                </v-btn>
              </v-card-title>
              <v-card-text style="text-align:center;">{{messages.cancelAppointmentConfirmationText}}</v-card-text>
              <v-card-actions>
                <v-btn
                  class="cancel"
                  flat
                  v-on:click.native="deleteAppointmentDialog = false"
                >{{messages.cancelAppointmentAbortButtonText}}</v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  class="edit"
                  flat
                  v-on:click.native="cancelExistingAppointment()"
                >{{messages.cancelAppointmentConfirmButtonText}}</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-card-title>
        <v-divider></v-divider>
        <v-list dense>
          <v-list-tile>
            <v-list-tile-content>
              <strong>{{messages.commonDateAndTimeText}}</strong>
              {{ props.item.date }} {{ props.item.time }}
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile v-for="(service, index) in props.item.peopleServices" :key="index">
            <v-list-tile-content>
              <strong>{{service.name}}</strong>
              {{service.adult}} {{messages.chooseServiceContentAdults}}, {{service.child}}
              {{messages.chooseServiceContentChildren}}
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-content>
              <strong>{{messages.commonLocationText}}</strong>
              {{ props.item.branchName }}
            </v-list-tile-content>
          </v-list-tile>
          <v-btn
            color="error"
            icon
            style="bottom:10px"
            absolute
            right
            v-on:click="triggerDialog(props.item.publicId)"
          >
            <v-icon color="white">delete</v-icon>
          </v-btn>
        </v-list>
      </v-card>
    </v-data-iterator>
  </div>
</template>

<script>
import RestService from '../services/restService'
export default {
  name: 'AppointmentList',
  props: ['existingAppointments', 'messages', 'configuration', 'type'],
  mixins: [RestService],
  data: () => ({
    deleteAppointmentDialog: false,
    existingAppointmentId: ''
  }),
  methods: {
    triggerDialog: function (publicId) {
      this.deleteAppointmentDialog = true
      this.existingAppointmentId = publicId
    },
    cancelExistingAppointment: function () {
      var _this = this
      this.deleteAppointmentDialog = false
      this.deleteAppointment(this.existingAppointmentId).then(function (response) {
        if (_this.type === 'error') {
          _this.$emit(
            'appointment-deleted',
            true
          )
        }
      })
    }
  },
  mounted: function () {
    console.log('mounted')
  }
}
</script>

<style>
.appointment-cards {
  background-color: #f4f4f4;
  padding: 16px 24px;
}

.appointment-cards .appointment-card {
  margin: 0 10px 0 0;
  border: 2px solid #b2b6be;
  width: 212px;
}

@media only screen and (max-width: 599px) {
  .appointment-cards {
    padding: 16px;
  }

  .appointment-cards .appointment-card {
    margin: 10px 0;
    width: 100%;
  }
}
</style>
