<template>
  <div class="select-language">
    <v-select
      single-line
      :items="languages"
      v-model="newLanguageSelected"
      outline
      box
      item-text="name"
      return-object
      label="Language"
    >
      <template slot="selection" slot-scope="{ item, selected }">
        <div :selected="selected" style="display:flex;">
          <img v-bind:alt="item.langName" v-bind:src="item.img" style="height:14px; width:19px;">
          <div class="selected-language-name">{{item.langName}}</div>
        </div>
      </template>
      <template slot="item" slot-scope="{ item }">
        <img v-bind:alt="item.langName" v-bind:src="item.img" style="height:14px; width:19px;">
        <div class="language-option">{{item.langName}}</div>
      </template>
    </v-select>
  </div>
</template>

<script>
export default {
  name: 'LanguageDropdown',
  props: ['selectedLanguage', 'languages'],
  data: () => ({
    newLanguageSelected: {}
  }),
  watch: {
    newLanguageSelected (selectedLang) {
      this.$emit('change-language', selectedLang)
    },
    selectedLanguage (newLang, oldLang) {
      this.newLanguageSelected = this.selectedLanguage
    }
  },
  mounted () {
    this.newLanguageSelected = this.selectedLanguage
  }
}
</script>

<style>
.select-language {
  position: absolute;
  top: 20px;
  right: 0;
  width: 183px;
  font-size: 14px;
  margin-right: 16px;
}

.select-language
  .v-select.v-text-field--enclosed:not(.v-text-field--single-line)
  .v-select__selections {
  padding-top: 0;
}

.select-language .v-text-field--box .v-input__slot {
  border-radius: 0;
  min-height: 43px;
}

.select-language .v-text-field .v-input__append-inner {
  margin-top: 9px;
}

.select-language .selected-language-name {
  margin-left: 8px;
  font-size: 14px;
  width: 105px;
}
.language-option {
  margin-left: 8px;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .select-language {
    width: 60px;
  }

  .select-language .selected-language-name {
    display: none;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .select-language .selected-language-name {
    margin-left: 2px;
  }
}
</style>
