<template>
  <div>
    <v-autocomplete
      v-if="showAutocomplete"
      class="country-code-autocomplete"
      v-model="selectedCountry"
      :items="items"
      :search-input.sync="search"
      :loading="isLoading"
      :label="messages.searchCountryInputLabel"
      :disabled="localReadOnly"
      item-text="name"
      item-value="alpha2Code"
      clearable
      cache-items
      solo
      open-on-clear
      return-object
    >
      <template slot="selection" slot-scope="{ item, selected }">
        <div :selected="selected" class="selected-country">
          <img class="flag-img" v-bind:alt="'flag of ' + item.name" v-bind:src="item.img">
          <strong class="country-code">+ {{item.callingCodes[0]}}</strong>
        </div>
      </template>
      <template slot="item" slot-scope="{ item }">
        <img class="flag-img" v-bind:alt="'flag of ' + item.name" v-bind:src="item.img">
        <strong class="country-name">{{item.name}}</strong>
        <div class="country-code-list">+ {{item.callingCodes[0]}}</div>
      </template>
    </v-autocomplete>
    <v-text-field
      class="input-field phone-input"
      :rules="phoneRules"
      :label="label"
      required
      v-model="mobileNumber"
      :disabled="localReadOnly"
    ></v-text-field>
    <v-icon v-if="codeVerified" class="number-verified-icon">check</v-icon>
    <v-dialog v-model="codeVerificationDialog" max-width="450" v-if="!codeVerified">
      <v-btn
        flat
        slot="activator"
        class="phone-verification-btn"
        v-on:click="sendCode"
      >{{messages.contactDetailsContentMobileVerificationBtnText}}</v-btn>
      <v-card>
        <v-card-title class="headline dialog-title">
          <v-spacer></v-spacer>
          <v-btn icon v-on:click.native="codeVerificationDialog = false">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-text-field
            box
            v-model="userCodeInput"
            :error="codeVerificationRules.enabled"
            :error-messages="codeVerificationRules.errorMessage"
            :counter="4"
            :label="messages.verifyCodeDialogLabel"
          ></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn
            flat
            class="cancel"
            v-on:click.native="sendCode"
          >{{messages.sendVerificationCodeAgain}}</v-btn>
          <v-spacer></v-spacer>
          <v-btn flat class="edit" v-on:click.native="verifyCode">{{messages.verifyCodeButton}}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import RestService from '../services/restService'
export default {
  name: 'MobileVerification',
  props: [
    'field',
    'defaultCountryPrefix',
    'messages',
    'configuration',
    'readOnly',
    'showAutocomplete'
  ],
  mixins: [RestService],
  data: () => ({
    localReadOnly: null,
    regexPhone: '',
    selectedCountry: {},
    isLoading: false,
    search: null,
    allCountries: [],
    items: [],
    label: '',
    phoneRules: [],
    codeVerificationRules: {
      enabled: false,
      errorMessage: ''
    },
    mobileNumber: '',
    countryCode: '',
    formattedPhone: '',
    codeVerificationDialog: false,
    codeVerified: false,
    userCodeInput: null,
    existingAppointments: []
  }),
  watch: {
    selectedCountry (country) {
      if (country) {
        this.countryCode = country.callingCodes[0]
      }
    },
    search (value) {
      /* Start searching only when country name input length is 3 characters or more */
      value && value !== this.selectedCountry && value.length > 2 && this.querySelections(value)
    }
  },
  methods: {
    querySelections (value) {
      this.isLoading = true
      // Simulated ajax query
      setTimeout(() => {
        this.items = this.allCountries.filter(e => {
          if ((e.name || '').toLowerCase().indexOf((value || '').toLowerCase()) > -1) {
            var country = e
            country.img = require('../assets/flags/' + country.alpha2Code.toLowerCase() + '.png')
            return country
          }
        })
        this.isLoading = false
      }, 300)
    },
    sendCode () {
      if (!this.localReadOnly) {
        if (this.mobileNumber.charAt(0) === '0') {
          var formattedPhone = this.mobileNumber.substr(1)
          this.formattedPhone = this.countryCode + formattedPhone
        } else {
          this.formattedPhone = this.countryCode + this.mobileNumber
        }
      } else {
        this.formattedPhone = this.field.number
      }
      this.sendVerificationCode(this.formattedPhone).then(function (response) {
        console.log('ress', response)
      })
    },
    verifyCode () {
      var _this = this
      this.verifyPhoneNumber(this.userCodeInput, this.formattedPhone).then(
        function (response) {
          if (response.status === 200 && response.data.message === 'ok') {
            _this.codeVerificationDialog = false
            _this.codeVerified = true
            _this.localReadOnly = true
            _this
              .checkExistingAppointments(_this.formattedPhone)
              .then(function (response) {
                _this.$emit(
                  'phone-verified',
                  _this.codeVerified,
                  _this.formattedPhone,
                  response.data,
                  _this.localReadOnly
                )
              })
          } else {
            _this.codeVerificationRules.enabled = true
            _this.codeVerificationRules.errorMessage =
              _this.messages.verificationCodeError
          }
        }
      )
    }
  },
  mounted () {
    var _this = this
    this.localReadOnly = this.readOnly
    if (!this.localReadOnly) {
      this.getCountry(this.defaultCountryPrefix).then(function (response) {
        _this.selectedCountry = response.data
        _this.selectedCountry.img = require('../assets/flags/' + _this.selectedCountry.alpha2Code.toLowerCase() + '.png')
        _this.items.push(_this.selectedCountry)
        _this.countryCode = response.data.callingCodes[0]
        _this.label = _this.messages[_this.field.name]
      })
      this.getAllCountries().then(function (response) {
        _this.allCountries = response.data
      })
      this.regexPhone = new RegExp(this.configuration.regexPhone)
      this.phoneRules = [
        function (value) {
          return !!value || _this.messages.phoneRequired
        },
        function (value) {
          return (
            (value && _this.regexPhone.test(value)) ||
            _this.messages.invalidPhone
          )
        }
      ]
    } else {
      this.label = '+' + this.field.number
    }
  }
}
</script>
<style>
.country-code-autocomplete .flag-img,
.v-list .v-list__tile .flag-img {
  height: 28px;
  width: 39px;
}

.selected-country {
  width: 135px;
  position: relative;
  height: 28px;
}

.country-name {
  padding: 0 20px;
}

.country-code {
  position: absolute;
  line-height: 28px;
  left: 50px;
}

.country-code-list {
  font-style: italic;
}

@media only screen and (max-width: 599px) {
  .country-code-autocomplete .flag-img,
  .v-list .v-list__tile .flag-img {
    height: 15px;
    width: 19px;
  }

  .country-code {
    line-height: 15px;
    left: 35px;
  }

  .country-name {
    padding: 0 10px;
    font-size: 14px;
    max-width: 200px;
  }

  .selected-country {
    height: 15px;
  }
}
</style>
