<template>
  <div class="time-selection-wrapper">
    <v-date-picker
      v-model="selectedDate"
      :locale="selectedLanguage.lang"
      :allowed-dates="allowedDates"
      first-day-of-week="1"
      color="#1a708c"
      full-width
      class="date-picker"
    ></v-date-picker>
    <div class="timeslots">
      {{availableTimeSlots.length == 0 ? messages.noTimeSlotsAvailable : ''}}
      <v-btn-toggle
        class="timeslot-content"
        v-model="selectedTime"
        v-for="(timeslot, index) in availableTimeSlots"
        :key="index"
      >
        <v-btn flat class="timeslot" v-bind:value="timeslot.time">{{timeslot.time}}</v-btn>
      </v-btn-toggle>
    </div>
    <v-progress-linear v-if="loading" color="#3a5994" :indeterminate="loading"></v-progress-linear>
  </div>
</template>

<script>
import RestService from '../services/restService'
export default {
  name: 'TimeSelection',
  mixins: [RestService],
  props: [
    'selectedLanguage',
    'customSlotLength',
    'selectedServices',
    'selectedBranch',
    'messages',
    'reschedule'
  ],
  data: () => ({
    selectedDate: '',
    selectedTime: '',
    availableTimeSlots: [],
    availableDates: [],
    loading: false,
    reservedAppointmedId: null
  }),
  watch: {
    selectedDate (newDate, oldDate) {
      var _this = this
      this.availableTimeSlots = []
      this.selectedTime = ''
      this.selectedDate = newDate
      this.getAvailableTimes(
        newDate,
        this.selectedServices,
        this.customSlotLength,
        this.selectedBranch
      ).then(function (response) {
        for (var i = 0; i < response.data.length; i++) {
          var timeSlot = {}
          timeSlot.time = response.data[i].time
          _this.availableTimeSlots.push(timeSlot)
        }
      })
    },
    selectedBranch (newBranch, oldBranch) {
      var _this = this
      this.selectedDate = new Date().toISOString().slice(0, 10)
      this.selectedTime = ''
      this.getAvailableDates(
        this.selectedBranch,
        this.selectedServices,
        this.customSlotLength
      ).then(function (response) {
        for (var i = 0; i < response.data.length; i++) {
          var allowedDay = response.data[i]
          _this.availableDates.push(allowedDay.date)
        }
      })
    },
    selectedTime (newTime, oldTime) {
      var _this = this
      if (newTime && !this.reschedule) {
        this.reserveTimeSlot(
          this.selectedBranch,
          this.selectedDate,
          this.selectedTime,
          this.customSlotLength,
          this.selectedServices
        ).then(function (response) {
          _this.reservedAppointmedId = response.data.publicId
          _this.$emit(
            'time-selected',
            _this.selectedTime,
            _this.selectedDate,
            _this.reservedAppointmedId
          )
        })
      } else if (this.reschedule) {
        _this.$emit('time-selected', _this.selectedTime, _this.selectedDate)
      }
    },
    reservedAppointmedId (newId, oldId) {
      var _this = this
      if (newId) {
        _this.loading = true
        var time = {}
        time.time = this.selectedTime
        _this.availableTimeSlots = []
        _this.availableTimeSlots.push(time)
        this.getAvailableTimes(
          this.selectedDate,
          this.selectedServices,
          this.customSlotLength,
          this.selectedBranch
        ).then(function (response) {
          for (var i = 0; i < response.data.length; i++) {
            var timeSlot = {}
            timeSlot.time = response.data[i].time
            _this.availableTimeSlots.push(timeSlot)
          }
          _this.loading = false
          _this.availableTimeSlots.sort(function (a, b) {
            return a.time.localeCompare(b.time)
          })
        })
      }
      // TODO: Make it possible to delete reserved appointmentId
      if (oldId) {
        this.releaseTimeslot(oldId).then(function (response) {
          console.log('timeslot released')
        })
      }
    }
  },
  methods: {
    allowedDates (val) {
      return this.availableDates.indexOf(val) !== -1
    }
  },
  mounted () {
    var _this = this
    this.selectedDate = new Date().toISOString().slice(0, 10)
    this.getAvailableDates(
      this.selectedBranch,
      this.selectedServices,
      this.customSlotLength
    ).then(function (response) {
      for (var i = 0; i < response.data.length; i++) {
        var allowedDay = response.data[i]
        _this.availableDates.push(allowedDay.date)
      }
    })
  }
}
</script>

<style>
.time-selection-wrapper {
  background-color: #f4f4f4;
}

.date-picker {
  margin: 0 0 16px 0;
  border-bottom: 2px solid #b2b6be;
  box-shadow: none;
}

.date-picker .v-picker__title {
  padding: 8px 0;
  border-bottom: 1px solid white;
}

.v-date-picker-table {
  padding: 16px;
  height: auto;
}

.v-picker__body {
  background-color: #ffffff;
}

.date-picker .v-date-picker-title .v-picker__title__btn {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: white;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.v-picker__title__btn:not(.active) {
  opacity: 1;
}

.timeslot {
  border: 2px solid #4b5363;
  background-color: white;
  color: #293346;
  font-weight: 500;
  font-size: 16px;
  width: 70px;
}

.v-date-picker-table .v-btn {
  font-size: 16px;
}

.v-date-picker-table--date .v-btn {
  height: 40px;
  width: 40px;
  color: #293346;
}

.picker-reverse-transition-leave,
.picker-reverse-transition-leave-active,
.picker-reverse-transition-leave-to,
.picker-transition-leave,
.picker-transition-leave-active,
.picker-transition-leave-to {
  right: 0;
  left: 0;
}

.v-date-picker-table--date .v-btn.v-btn--active,
.v-date-picker-table.v-date-picker-table--month .v-btn.v-btn--active {
  color: white;
}

.v-date-picker-header .v-btn.v-btn--icon .v-icon {
  font-size: 36px;
}

.theme--light.v-date-picker-table th {
  color: #293346;
  font-size: 16px;
  border-bottom: 1px solid #e5e9f0;
}

.timeslots {
  text-align: center;
  padding: 0 16px 16px 16px;
}

.timeslot-content {
  margin: 5px;
}

.timeslot-content.v-btn-toggle.v-btn-toggle--selected {
  box-shadow: none;
}

.timeslot-content.v-btn-toggle .v-btn {
  opacity: 1;
}

.timeslot-content .timeslot.v-btn.v-btn--active {
  background-color: #1a708c;
  color: white;
  border-color: #1a708c;
}
</style>
