
<template>
  <v-app id="vueapp">
    <header class="header">
      <a class="brand" title="Politiet" href="https://www.politiet.no/">
        <img :src="logo" alt="logo">
      </a>
      <!-- Load our language drop down menu component that will be displayed in the header in all views
      Pass needed data from our main Vue App to this component-->
      <language-dropdown
        v-bind:selected-language="selectedLanguage"
        v-bind:languages="languages"
        v-on:change-language="changeLanguage"
      ></language-dropdown>
    </header>
    <v-container class="main-container">
      <router-view
        v-bind:configuration="configuration"
        v-bind:messages="messages"
        v-bind:selected-language="selectedLanguage"
        v-bind:default-country-prefix="defaultCountryPrefix"
        v-on:change-language="changeLanguage"
      />
    </v-container>
  </v-app>
</template>

<script>
import LanguageDropdown from './components/LanguageDropdown'
import RestService from './services/restService'
import DataService from './services/dataService'
import logo from './assets/brand.svg'
export default {
  name: 'App',
  components: {
    LanguageDropdown
  },
  mixins: [RestService, DataService],
  data: () => ({
    logo: logo,
    languages: [{
      countryCode: 'gb',
      img: require('./assets/flags/gb.png'),
      default: true,
      lang: 'en',
      langName: 'English'
    },
    {
      countryCode: 'no',
      img: require('./assets/flags/no.png'),
      default: false,
      lang: 'nb',
      langName: 'Norsk (Bokmål)'
    },
    {
      countryCode: 'no',
      img: require('./assets/flags/no.png'),
      default: false,
      lang: 'nn',
      langName: 'Norsk (Nynorsk)'
    },
    {
      countryCode: 'sami',
      img: require('./assets/flags/gb.png'),
      default: false,
      lang: 'se',
      langName: 'Sami'
    }
    ],
    defaultCountryPrefix: 'no',
    selectedLanguage: {
      countryCode: 'gb',
      img: require('./assets/flags/gb.png'),
      default: true,
      lang: 'en',
      langName: 'English'
    },
    messages: {},
    configuration: {}
  }),
  methods: {
    /*
    Function that will be triggered when:
    - A user chooses a language in the dropdown menu
    - A user clicks on the appointment link, then the language will be fetched in languageCode in the Appointment object
    The function will then fetch right uiMessages file
    */
    changeLanguage (language) {
      var _this = this
      if (language && language.lang) {
        this.getMessages(language.lang).then(function (response) {
          _this.messages = response.data
        })
        this.selectedLanguage = language
      } else {
        /*
        Since only language code is stored in the Appointment info, we need to loop through our languages array to fetch right language object
        */
        for (var i = 0; i < this.languages.length; i++) {
          var lang = this.languages[i]
          if (lang.lang === language) {
            this.selectedLanguage = lang
          }
        }
        this.getMessages(this.selectedLanguage.lang).then(function (response) {
          _this.messages = response.data
        })
      }
    },
    // Will be used when we can recieve entire languages array from the backend, then we won't have to hardcode it in the client
    initLanguage (configLanguages) {
      var _this = this
      for (var i = 0; i < configLanguages.length; i++) {
        var language = {}
        var langCode = configLanguages[i]
        var lang = langCode.split('_')
        language.lang = lang[0]
        language.countryCode = lang[1]
        language.langName = lang[2].replace('-', ' ')
        language.default = JSON.parse(lang[3])
        _this.languages.push(language)
        if (language.default) {
          _this.selectedLanguage = language
          _this.defaultCountryPrefix = language.countryCode
        }
      }
      this.getMessages(this.selectedLanguage.lang).then(function (response) {
        _this.messages = response.data
      })
    }
  },
  mounted () {
    // When our main Vue is loaded, we need to fetch some data that needs to be used in all components
    // Here we need to fetch Configuration from the server
    var _this = this
    this.getConfiguration().then(function (response) {
      // Assign data to our variable that have been declared in our Vue App data object.
      _this.configuration = _this.convertObject(response.data)
      console.log('_this.configuration: ', _this.configuration)
      // TODO: Fetch language properties from backend in next phase
      // if (_this.configuration.qwebbookLanguages) {
      //   _this.initLanguage(_this.configuration.qwebbookLanguages);
      // }
    }).catch(function (error) {
      console.log('error: ', error.response)
    })
    // this.getMessages(this.selectedLanguage.lang).then(function(response) {
    //   _this.messages = response.data;
    // });
  }
}
</script>
<style>
@import "./assets/fonts/Roboto-material-icons.css";
body {
  margin: 0;
  background: #fefefe;
  font-weight: 400;
  color: #293346;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  height: 100vh;
  padding: 0;
}

body .primary--text {
  color: #1a708c !important;
}

.header {
  background-color: #f4f4f4;
  border-bottom: 3px solid #e5e9f0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 85px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header a:link {
  border-bottom: none;
}

.header a:hover {
  color: #1a708c;
}

.brand {
  display: block;
  max-height: 54px;
  margin: 13px auto 0;
  max-width: 190px;
  position: relative;
}

#vueapp .container.main-container {
  max-width: 900px;
  display: block;
  margin: 85px auto 0 auto;
}

.input-btn.v-btn {
  background-color: #3a5994;
  color: #fefefe;
  border-radius: 0;
}

.wrapper {
  border: 2px solid #646c7c;
  background-color: #ffffff;
}

h1 {
  text-align: center;
  padding-top: 24px;
}

h2 {
  font-weight: 400;
}

.info-text {
  font-size: 18px;
  font-weight: 300;
  padding: 16px 24px;
}

.v-btn.v-btn--flat.theme--light:focus,
.v-btn.v-btn--icon.theme--light:focus,
.phone-verification-btn.v-btn.v-btn--flat.theme--light:focus,
.submit.v-btn.v-btn--flat.theme--light:focus,
.submit.back.v-btn.v-btn--flat.theme--light:focus,
.cancel.v-btn.v-btn--flat.theme--light:focus,
.edit.v-btn.v-btn--flat.theme--light:focus,
.reschedule .submit.v-btn.v-btn--flat.theme--light:focus,
.v-btn.v-btn--absolute.v-btn--icon.v-btn--right.theme--light.error:focus {
  background-color: #1a708c;
  color: white;
}

.submit.v-btn.v-btn--flat.theme--light {
  height: 64px;
  background-color: #3a5994;
  color: #fefefe;
  font-weight: 400;
  font-size: 17px;
  min-width: 300px;
  border-radius: 0;
}

.submit.v-btn.v-btn--disabled.v-btn--flat.theme--light {
  background-color: rgba(0, 0, 0, 0.12);
}

.confirmation-text {
  padding-bottom: 16px;
}

.info-text.appointment-details {
  padding: 24px;
}

.content .wrapper h1 {
  padding: 20px;
}

.dark {
  background-color: #293346;
  color: white;
}

.submit.back.v-btn.v-btn--flat.theme--light {
  display: block;
  margin: 36px 0;
}

a:link {
  border-bottom: 1px solid #9199aa;
  text-decoration: none;
}

a,
a:active,
a:link,
a:visited {
  color: #2a5bb4;
  outline: none;
}

a:focus {
  outline-color: #1a708c !important;
  outline: solid;
}

a:hover {
  color: #1a708c;
}

.v-text-field--outline.v-input--is-focused
  .v-input__slot
  .selected-language-name {
  text-decoration: underline;
}

.v-text-field--outline.v-input--is-focused .v-input__slot {
  border: 2px solid;
}

.theme--light.v-list .v-list__tile--highlighted {
  background-color: #1a708c !important;
  color: white;
}

.theme--light.v-list .v-list__tile--highlighted .language-option {
  color: white;
}

.dialog-title {
  background-color: #293346;
  color: white;
}

.edit.v-btn.v-btn--flat.theme--light {
  background-color: #4b5363;
}

.cancel.v-btn.v-btn--flat.theme--light {
  background-color: #293346;
}

.cancel.v-btn.v-btn--flat.theme--light,
.edit.v-btn.v-btn--flat.theme--light {
  color: white;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 27px;
    padding: 16px;
  }

  @media only screen and (max-width: 359px) and (min-width: 300px) {
    h1 {
      font-size: 24px;
    }

    .submit.v-btn.v-btn--flat.theme--light {
      min-width: 250px;
    }
  }

  h2 {
    font-size: 25px;
    font-weight: 400;
  }

  .brand {
    max-height: 50px;
  }

  .brand img {
    height: 44px;
  }

  .header {
    height: 71px;
  }

  #vueapp {
    padding-top: 0;
  }
  .submit.v-btn.v-btn--flat.theme--light,
  .submit.back.v-btn.v-btn--flat.theme--light {
    width: auto;
    font-size: 16px;
    margin: 16px auto 0 auto;
  }

  .submit.back.v-btn.v-btn--flat.theme--light {
    width: 100%;
  }

  .submit.v-btn.v-btn--flat.theme--light .v-btn__content {
    white-space: normal;
  }

  .info-text {
    font-size: 18px;
    font-weight: 300;
    padding: 16px;
  }

  .content .wrapper h1 {
    padding: 16px 0;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  * {
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
  .v-input--selection-controls__ripple:before,
  .v-input--selection-controls__ripple,
  .v-ripple__container {
    display: none !important;
    visibility: hidden !important;
  }
  .v-input.v-input--selection-controls.v-input--checkbox.v-input--is-focused
    .v-input--selection-controls__input,
  .v-radio.v-radio--is-focused .v-input--selection-controls__input {
    background-color: #c0c0c0;
    border-radius: 50%;
  }
  .v-input.input-field.v-text-field.v-input--is-focused label,
  .v-input.v-text-field--box.v-text-field--enclosed.v-input--is-focused label,
  .v-input.v-text-field--box.v-text-field--enclosed.v-input--is-disabled label,
  .v-input.input-field.v-text-field.v-input--is-label-active label {
    font-size: 12px;
    top: 0;
  }
}
</style>
